## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
# Crear una variable 
numero = 10

# Imprimir el número entero por pantalla
print("El número entero es:", numero)

El número entero es: 10

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
# Crear una variable 
variable = 8.5

# Imprimir
print("El tipo de dato de la variable es:", type(variable))

El tipo de dato de la variable es: <class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print("El tipo de dato de la variable es:", type(numero))

El tipo de dato de la variable es: <class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
a= "edgardo"

5) Crear una constante que contenga el número Pi

In [ ]:
PI= 3.141516

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [8]:
PI= 3.141516
print("El tipo de dato de la variable es:", type(PI))

El tipo de dato de la variable es: <class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [9]:
import math

num = round(math.e, 4)


print("El número de Euler (e) con 4 decimales es:", num)

El número de Euler (e) con 4 decimales es: 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
variable_1="True"
variable_2=True
#no son lo mismo una de una cadena y la otra un booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:


variable_1="True"
variable_2=True

print( "la variable_1 es un ",type(variable_1))
print( "la variable_1 es un ",type(variable_2))

la variable_1 es un  <class 'str'>
la variable_1 es un  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [ ]:
a=2+3.15

11) Realizar una operación de suma de un número definido como string con un entero

In [3]:
a="5"
b=3

c= a+b

TypeError: can only concatenate str (not "int") to str

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [4]:
import math

num = round(math.e, 4)

num2= num**3
print( num2)

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [5]:
#  ingrese un número por teclado
numero_usuario = input("Por favor, ingresa un número: ")


numero_usuario = float(numero_usuario)  

resultado = numero_usuario * 5 

# Imprimir el resultado
print("El resultado de multiplicar", numero_usuario, "por 5 es:", resultado)

El resultado de multiplicar 6.0 por 5 es: 30.0

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [7]:
cociente= 27/4
print( " el cociente de la division entre 27 y 4 es",cociente)

 el cociente de la division entre 27 y 4 es 6.75

15) De la división anterior solamente mostrar la parte entera

In [8]:
cociente= 27//4
print( " el cociente de la division entre 27 y 4 es",cociente)

 el cociente de la division entre 27 y 4 es 6

16) De la división de 27 entre 4 mostrar solamente el resto

In [9]:
resto = 27 % 4

print("El resto de la división de 27 entre 4 es:", resto)

El resto de la división de 27 entre 4 es: 3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [12]:
e=4
suma= e*cociente+resto


print( suma)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [60]:
resultado= "2"==2
print(resultado)

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [61]:
resultado= int ("2")==2
print(resultado)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [63]:
a= float('3.8')
print(a)
# porque los numeros decimales se utiliza el separador "." en vez de ","

3.8

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
# porque no son del mismo tipo de datos. 
# en caso de ser string daria como resultado "1010"

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [19]:
menu="MENU:\n1 Pizza\n2 Empandas\n3 Milanesas \n4 Salir"
print(menu)

MENU:
1 Pizza
2 Empandas
3 Milanesas
4 Salir

23) Crear una lista que contenga los números del 1 al 10

In [25]:
lista1=[1,2,3,4,5,6,7,8,9,10]
#print("La lista de números del 1 al 10 es:", lista1)

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [22]:
print("El penúltimo elemento de la lista es:", lista1[-2])

El penúltimo elemento de la lista es: 9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [26]:
lista1[2]="edgardo"
print(lista1)

[1, 2, 'edgardo', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [47]:
matriz1 = [ ["A","B","C"] ,["D","E","F"],["G","H","I"] ]

27) Imprimir la matriz creada en el punto 26

In [39]:
print(matriz1)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [45]:
matriz1[1][1]= "Z"
print( matriz1)

[[1, 3, 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [49]:
matriz1[0][0]= 1
matriz1[0][1]= 2
matriz1[0][2]= 3
print( matriz1)

[[1, 2, 3], ['D', 'E', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [52]:
ropa=("WRANGLER","LEVIS","KEVINGSTON","ADIDAS","TOPPER")
print(ropa)

('WRANGLER', 'LEVIS', 'KEVINGSTON', 'ADIDAS', 'TOPPER')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [53]:
print("el primer elemento es",ropa[0])

el primer elemento es WRANGLER

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [54]:
persona = {
    'nombre': 'Juan',
    'apellido': 'Pérez',
    'edad': 30,
    'hobbies': ['correr', 'leer', 'jugar al fútbol']
}

print("El diccionario de la persona es:", persona)

El diccionario de la persona es: {'nombre': 'Juan', 'apellido': 'Pérez', 'edad': 30, 'hobbies': ['correr', 'leer', 'jugar al fútbol']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [56]:
print(persona["hobbies"])

['correr', 'leer', 'jugar al fútbol']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [59]:
persona["edad"]=18
print(persona["edad"])

18